body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgreen;
}

#title {
  font-size: 3em;
}

#logo {
  width: 60%;
  margin: 0 auto;
}